//Colors
$primary-color: #1d3557;
$secondary-color: #457b9d;
$tertiary-color: #a8dadc;
$primary-accent-color: #f1faee;
$secondary-accent-color: #e63946;

//Sizes
$face-size: 128px;

//General
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: darken($primary-color, 5%);
}

header {
	margin-bottom: 4em;
	background-color: $primary-color;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	text-align: center;
	padding: 1em 0;
	color: $primary-accent-color;
}

#board {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 0.2em;
	width: fit-content;
	background-color: $primary-color;
	border: $secondary-color solid 2px;
}

.face {
	width: $face-size;
	height: $face-size;
	background-color: darken($primary-color, 5%);

	font-family: cursive;
	line-height: $face-size;
	text-align: center;
	font-size: 64px;

	&:hover {
		cursor: pointer;
		background-color: $primary-color;
	}
}
.circle {
	color: $secondary-accent-color;
}
.cross {
	color: $primary-accent-color;
}

//RESULT DISPLAY
#result-container {
	display: none;
	width: fit-content;
	margin: 1em auto;
	background-color: $tertiary-color;
	border-radius: 0.3em;
}
#result {
	text-align: center;
	padding: 0.2em 1em;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-weight: 400;
	font-size: 1.7em;
	color: darken($primary-color, 10%);
}

//Game Options
#game-options {
	width: calc(128px * 3 + 00.2em * 2 + 4px); //board width
	margin: 0 auto;
}

//RESET BUTTON
#game-reset-btn {
	width: 32px;
	height: 32px;
	margin: 0.5em 0;
	background-color: $secondary-color;
	border: none;
	border-radius: 0.2em;
	color: $primary-accent-color;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

	&:hover {
		cursor: pointer;
	}
}
